/backend/node_modules
/frontend/node_modules

.env
.env.*.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

/backend/build/
/backend/dist/
/frontend/build/
/frontend/dist/

.vscode/
*.sublime-project
*.sublime-workspace
.idea/